# Editor directories and files
.idea

# Package Manager
node_modules
.turbo
.pnpm-debug.log*

# System
.DS_Store

# Build
dist
*.tsbuildinfo
coverage
packages/element-plus/version.ts

# local env files
*.local
.env
.eslintcache
cypress/screenshots/*
cypress/videos/*
tmp
docs/.vitepress/cache
.nuxt
.output
typings/auto-imports.d.ts
